# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
venv/
myenv/
.env
.venv

# IDE/editor
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Byte-compiled / cached files
*.egg-info/
build/
dist/
